/2020Rud_VKR (1).pdf
/Диплом Инны.docx
/Мой диплом УТС 2018.docx
/Статьи/Оптимизация использования ресурсов в системах реального времени.pdf
/Статьи/Распределение виртуальных машин.pdf
/Статьи/Решение задачи трехмерной упаковки.pdf
/Статьи/Статья об оптимизации деплоя.pdf
/Статьи/Упаковка контейнеров.pdf
/Статьи/Учебник по генетическим алгоритмам.pdf
