/2020Rud_VKR (1).pdf
/Диплом Инны.docx
/Мой диплом УТС 2018.docx
/Статьи/Оптимизация использования ресурсов в системах реального времени.pdf
/Статьи/Распределение виртуальных машин.pdf
/Статьи/Решение задачи трехмерной упаковки.pdf
/Статьи/Статья об оптимизации деплоя.pdf
/Статьи/Упаковка контейнеров.pdf
/Статьи/Учебник по генетическим алгоритмам.pdf
/SCC.wmv
/SCC.rar
/Rud_V_V_Zaschita2020.zip
/Rud_V_V_Zaschita2020
/Презентация диплома.pptx
/Рудь В.В.Защита2020.pptx
/Shablon_prezentatsia.ppt
/RubizovaIE_Prezentatsia.pptx
